.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: calc(100% - 60px);
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 176px);
  }
}
