.hero {
  background: linear-gradient(90deg, #1c3477 0%, #1a3578 39%, #73184b 76%, #b4022a 100%);
  color: #ffffff;
}

.hero__container {
  display: grid;
  padding: 8px 15px 32px;

  @media (max-width: $mobile-width-only) {
    gap: 48px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    gap: 30px;
    padding-bottom: 120px;
  }
}

.hero__content {
  display: grid;
  gap: 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto 324px;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 500px;
    gap: 56px;
    margin-left: 147px;
    margin-right: 72px;
  }
}

.hero__description-wrapper {
  display: grid;
  gap: 48px;

  @media (min-width: $tablet-width) {
    gap: 50px;
  }

  @media (min-width: $desktop-width) {
    gap: 40px;
  }
}

.hero__text-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: dense;
  align-items: end;
  gap: 20px;
  text-align: right;

  @media (min-width: $tablet-width) {
    gap: 26px;
  }

  @media (min-width: $desktop-width) {
    justify-items: end;
  }
}

.hero__title-wrapper {
  grid-column: 2/3;
}

.hero__text {
  margin: 0 0 14px;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 40px;
  }
}

.hero__title {
  margin: 0;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 800;
  font-size: 62px;
  line-height: 62px;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 1.6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
  }
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.hero__link-buy {
  justify-self: center;
  min-width: 290px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    justify-self: end;
    min-width: 185px;
  }

  @media (min-width: $desktop-width) {
    min-width: 270px;
  }
}

.hero__image-wrapper {
  img {
    display: block;
    object-fit: contain;
    height: auto;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
