.price {
  position: relative;
  z-index: 1;
  background-color: #f8f9fc;

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0;
      content: "";
      width: 275px;
      height: 328px;
      background-repeat: no-repeat;
      background-size: auto auto;
      background-position: bottom right;
      background-image:
        image-set(url("../../img/price/disks-tablet@2x.webp") type("image/webp") 2x,
        url("../../img/price/disks-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/price/disks-tablet@2x.png") type("image/png") 2x,
        url("../../img/price/disks-tablet@1x.png") type("image/png") 1x);
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      bottom: 0;
      width: 321px;
      height: 384px;
      background-image:
        image-set(url("../../img/price/disks-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/price/disks-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/price/disks-desktop@2x.png") type("image/png") 2x,
        url("../../img/price/disks-desktop@1x.png") type("image/png") 1x);
    }
  }
}

.price__container {
  padding: 40px 15px;

  @media (min-width: $tablet-width) {
    width: 53.5%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.price__title {
  margin: 0 0 30px;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: #102654;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    font-size: 54px;
    line-height: 54px;
  }
}

.price__tabs-wrapper {
  display: grid;
  gap: 30px;

  @media (min-width: $tablet-width) {
    gap: 45px;
  }

  @media (min-width: $desktop-width) {
    gap: 40px;
  }
}

.price__tabs-nav-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 16px;

  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    min-height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
  }

  @media (min-width: $tablet-width) {
    width: 81.58%;
    justify-self: center;
    gap: 30px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
    width: 30.2%;
    line-height: 20px;
  }
}

.price__tab-nav-button {
  position: relative;
  display: inline-block;
  padding: 0 0 10px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: rgba(16, 37, 84, 0.5);
  background-color: transparent;
  border: 0;
  appearance: none;
  cursor: pointer;
  transition: color 0.3s ease-out;

  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    min-height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease-out;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;

    &:hover {
      color: rgba(16, 37, 84, 0.7);

      &::before {
        background-color: #787878;
      }
    }
  }

  &:focus-visible {
    outline: 0;
    color: #102654;

    &::before {
      background-color: #102654;
    }
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: 0;
      color: #102654;

      &::before {
        background-color: #102654;
      }
    }
  }

  &:active {
    color: #102654;

    &::before {
      background-color: #ed0233;
    }
  }

  &:disabled {
    color: rgba(16, 37, 84, 0.3);
    pointer-events: none;

    &::before {
      background-color: rgba(16, 37, 84, 0.3);
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.price__tab-nav-button--active {
  color: #102654;

  &::before {
    background-color: #d10a42;
  }
}

.price__tabs-content-wrapper {
  display: grid;
  gap: 60px;

  @media (min-width: $tablet-width) {
    gap: 80px;
  }
}

.price__tabs-content-list {
  display: none;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, auto);
  }

  &--active,
  &--nojs {
    display: grid;
  }
}
